<div class="chart-container">
  <ngx-charts-line-chart *ngIf="typeGrafica === 'linea'" 
    [scheme]="colorScheme"
    [schemeType]="schemeType"
    [legend]="legend"
    [legendPosition]="legendPosition" 
    [legendTitle]="legendTitle" 
    [animations]="animations"
    [showXAxisLabel]="showXAxisLabel" 
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis" 
    [yAxis]="yAxis" 
    [xAxisLabel]="xAxisLabel" 
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale" 
    [timeline]="timeline"
    [xScaleMin]="xScaleMin"
    [xScaleMax]="xScaleMax"
    [yScaleMin]="yScaleMin"
    [yScaleMax]="yScaleMax"
    [rangeFillOpacity]="rangeFillOpacity"
    [roundDomains]="roundDomains" 
    [showGridLines]="showGridLines" 
    [results]="multi"
    [xAxisTickFormatting]="dateTickFormatting"
    [tooltipDisabled]="tooltipDisabled"
    [trimXAxisTicks]="trimXAxisTicks"
    [trimYAxisTicks]="trimYAxisTicks"
    [rotateXAxisTicks]="rotateXAxisTicks"
    [maxXAxisTickLength]="maxXAxisTickLength"
    [maxYAxisTickLength]="maxYAxisTickLength" 
    (select)="onSelect($event)" 
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)">
  </ngx-charts-line-chart>

  <ngx-charts-bar-horizontal *ngIf="typeGrafica === 'barra-hor'" 
    [scheme]="colorScheme" 
    [results]="multi"
    [gradient]="gradient" 
    [xAxis]="xAxis" 
    [yAxis]="yAxis" 
    [legend]="legend"
    [legendPosition]="legendPosition" 
    [legendTitle]="legendTitle"
    [showXAxisLabel]="showXAxisLabel" 
    [showYAxisLabel]="showYAxisLabel"
    [showDataLabel]="showDataLabel"
    [showGridLines]="showGridLines" 
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel" 
    [maxXAxisTickLength]="3" 
    (select)="onSelect($event)" 
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)">
  </ngx-charts-bar-horizontal>


  <ngx-charts-bar-vertical *ngIf="typeGrafica === 'barra-ver'"
    [scheme]="colorScheme" 
    [results]="multi"
    [gradient]="gradient" 
    [xAxis]="xAxis" 
    [yAxis]="yAxis" 
    [legend]="legend"
    [legendPosition]="legendPosition" 
    [legendTitle]="legendTitle"
    [showXAxisLabel]="showXAxisLabel" 
    [showYAxisLabel]="showYAxisLabel" 
    [xAxisLabel]="xAxisLabel"
    [showGridLines]="showGridLines" 
    [yAxisLabel]="yAxisLabel" 
    (select)="onSelect($event)" 
    [maxYAxisTickLength]="3">
  </ngx-charts-bar-vertical>

  <ngx-charts-pie-chart *ngIf="typeGrafica === 'torta'"
    [scheme]="colorScheme" 
    [results]="multi" 
    [gradient]="gradient"
    [legend]="legend" 
    [legendTitle]="legendTitle" 
    [legendPosition]="legendPosition" 
    [labels]="showLabels"
    [labelFormatting]="labelFormatting"
    [maxLabelLength]="16"
    [tooltipDisabled]="tooltipDisabled"
    [trimLabels]="true"
    [doughnut]="isDoughnut" 
    [arcWidth]="arcWidth" 
    (select)="onSelect($event)" 
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)">
  </ngx-charts-pie-chart>

  <combo-chart-component *ngIf="typeGrafica === 'combo-chart'" 
    [scheme]="colorScheme" 
    [colorSchemeLine]="lineChartScheme" 
    [results]="multi" 
    [animations]="animations"
    [lineChart]="lineChartSeries" 
    [tooltipDisabled]="tooltipDisabled" 
    [yAxisTickFormatting]="yLeftTickFormat"
    [yLeftAxisScaleFactor]="yLeftAxisScale" 
    [yRightAxisScaleFactor]="yRightAxisScale"
    [yRightAxisTickFormatting]="yRightTickFormat" 
    [gradient]="gradient" 
    [xAxis]="xAxis" 
    [yAxis]="yAxis"
    [yAxis2]="false"
    [legend]="legend"
    [maxXAxisTickLength]="3"
    [maxYAxisTickLength]="3" 
    [legendTitle]="legendTitle" 
    [legendPosition]="legendPosition" 
    [showGridLines]="showGridLines"
    [showXAxisLabel]="showXAxisLabel" 
    [showYAxisLabel]="showYAxisLabel" 
    [showRightYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" 
    [yAxisLabel]="yAxisLabel" 
    [yAxisLabelRight]="yAxisLabelRight"
    [noBarWhenZero]="noBarWhenZero" 
    (select)="onSelect($event)">
  </combo-chart-component>
  
</div>