@import "../../../../assets/sass/styles.scss";

.flex-custom {
    display: flex;
    @include respond(phone) {
        flex-direction: column;
    }

    &-input{
        width: 50%;
        @include respond(phone) {
            width: 100%;
        }
    }

    &-btn{
        @include respond(phone) {
            margin-top: 10px;
            align-self: center;
            margin-left: 0 !important;
        }
    }
}