<div class="marguenes-custom"></div>
<div *ngFor="let index of listButton" [style]="'width: 100%;'">
    <app-card-header-v1 [proceso]="proceso" [listButton]="index"></app-card-header-v1>
</div>
<app-title-pages [class]="proceso? 'skeleton-none':''" [title]="'consultaVehiculos.ingresaPlaca' | transloco"></app-title-pages>
<br>
<div class="container-card">
    <mat-card [class]="proceso? 'skeleton card-auth':'card-auth'" [style]="styleCustom">
        <mat-card-content class="card-content-miM">
            <form [class]="proceso? 'skeleton-none':'example-form'" [formGroup]="registerForm">
                <div class="flex-custom">
                    <div class="container-form-miM colum-height flex-custom-input">
                        <mat-form-field class="container-imput-miM" appearance="outline" subscriptSizing="dynamic"
                            color="primary">
                            <input aria-label="Ingresa la placa del vehículo que quieres consultar para validar si está inmovilizado en el patio autorizado de la Secretaría distrital" minlength="4" maxlength="7" class="input-name texto_formularios" matInput [placeholder]="'consultaVehiculos.digitaPlaca' | transloco"
                                formControlName="valor">
                        </mat-form-field>
                    </div>
                    <button class="button-miM-large flex-custom-btn" style="width: max-content; min-width: 100px; margin-left: 20px; height: 30px;"
                        (click)="consultaVehiculo()" [disabled]="!registerForm.valid" mat-flat-button color="primary">
                        <mat-spinner *ngIf="isConsulta" color="accent" diameter="20"></mat-spinner>
                        <p *ngIf="!isConsulta" class="texto_boton">{{'consultaVehiculos.consultar' | transloco}}</p>
                    </button>
                </div>
            </form>



        </mat-card-content>
    </mat-card>
</div>
<app-title-pages *ngIf="mostrarTarjeta" [class]="proceso? 'skeleton-none':''" [title]="'consultaVehiculos.resultados' | transloco"></app-title-pages>
<app-card-taxis *ngIf="mostrarTarjeta" [class]="proceso? 'skeleton-none':''"
    [imgLink]="'assets/icons/Icono_tipo_tramite_matricula.svg'" [title]="('consultaVehiculos.titleCardResul' | transloco)+' '" [placa]="placaVehiculo"
    [textBoton]="'consultaVehiculos.vertarjeta' |transloco" [cambioTexto]="mostrarTarjeta"
    [linkVermas]="'https://www.movilidadbogota.gov.co/web/taxis'" [tipoResiltado]="tipoResiltado"
    [resultadoBusqueda]="resultadoBusqueda" [text]="mensajeBusqueda"></app-card-taxis>
<div class="marguenes-custom"></div>