<mat-drawer-container [style]="sytleCustomOnDrawer" class="example-container" autosize>

    <mat-drawer class="example-sidenav-filtro" #drawer2 [mode]="'over'" style="height: 100%;" position="end">
        <div *ngIf="isCargarFiltro" class="cargando-filtro">
            <div class="cargando-filtro_spener">
                <mat-spinner color="primary" diameter="50"></mat-spinner>
            </div>
        </div>
        <div class="filtro-container">
            <div class="filtrar-header filtro-container_header">
                <div class="filtrar-header_title">
                    <h1 class="subtitulo">{{'home.filtrar' | transloco}}</h1>
                </div>
                <div class="filtrar-header_btn_uno">
                    <button class="button-miM-large" mat-stroked-button color="primary" (click)="restablecer()">
                        <span class="texto_boton">{{'home.restablecer' | transloco}}</span>
                    </button>
                </div>
                <div class="filtrar-header_btn_close">
                    <button mat-icon-button (click)="drawer2.toggle()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>

            <div class="filtro-container_filtros">
                <div class="filtrar-aplicado">
                    <h1 class="filtro-subTitulo subtitulo">
                        {{'home.filtrosAplicados' | transloco}}
                    </h1>
                    <div class="aplicado-container">
                        <span
                            class="aplicado-container_text cuerpo_texto_resaltado">{{momentCustom(range.controls['start'].value,
                            "DD/MM/YYYY")+ " - " +momentCustom(range.controls['end'].value, "DD/MM/YYYY")}}</span>
                    </div>
                </div>
                <div class="filtrar-filtros">
                    <mat-accordion>
                        <mat-expansion-panel #panel class="panel-filtro">
                            <mat-expansion-panel-header class="panel-filtro_header">
                                <mat-panel-title class="panel-filtro_header_title filtro-subTitulo">
                                    <span class="subtitulo">{{'home.rango-fechas' | transloco}}</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="container-form-miM">
                                <mat-form-field class="container-imput-miM" appearance="outline"
                                    subscriptSizing="dynamic" color="primary">
                                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                        <input class="texto_formularios" matStartDate formControlName="start"
                                            placeholder="Start date">
                                        <input class="texto_formularios" (dateChange)="rengoFecha()" matEndDate
                                            formControlName="end" placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-error *ngIf="range.controls['start'].invalid">
                                        <app-error-menssage class="cuerpo_texto_info_formulario"
                                            [control]="range.controls['start']">
                                        </app-error-menssage>
                                    </mat-error>
                                    <mat-error *ngIf="range.controls['end'].invalid">
                                        <app-error-menssage class="cuerpo_texto_info_formulario"
                                            [control]="range.controls['end']">
                                        </app-error-menssage>
                                    </mat-error>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>
                            </div>
                            <button class="button-miM-text" color="primary" mat-button (click)="filtrarRango(1)">
                                <span class="cuerpo_texto_resaltado">{{'home.rango1'| transloco}}</span>
                            </button>
                            <button class="button-miM-text" color="primary" mat-button (click)="filtrarRango(3)">
                                <span class="cuerpo_texto_resaltado">{{'home.rango2'| transloco}}</span>
                            </button>
                            <button class="button-miM-text" color="primary" mat-button (click)="filtrarRango(6)">
                                <span class="cuerpo_texto_resaltado">{{'home.rango3'| transloco}}</span>
                            </button>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>

            <div class="footer-filtro filtro-container_footer">
                <button (click)="aplicar(); drawer2.toggle()" style="width: 90%;" class="button-miM-large"
                    mat-flat-button color="primary">
                    <span class="texto_boton">{{'home.aplicar'| transloco}}</span>
                </button>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content style="width: 100%;" (window:resize)="onResize()">

        <mat-drawer-container class="example-container" autosize>

            <mat-drawer #drawer class="example-sidenav example-sidenav-menuP" [mode]="mode" [opened]="open"
                (window:resize)="window.innerWidth >= 1300? drawer.open() : drawer.close(); onResize()">
                <div class="close-sidebar-custom" style="text-align: -webkit-right; text-align: -moz-right;">
                    <button [style]="styleCustom" mat-icon-button (click)="drawer.toggle()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <app-sidebar class="app-sidebar-custom" [drawer]="drawer" [listaMenu]="listaManuRolFuncionario"
                    [funcionarioIs]="false"></app-sidebar>
            </mat-drawer>
            <mat-drawer-content style="height: 100%;">


                <div style="width: 100%; height: 100%;">
                    <div class="header-custom static-nav-resposive">
                        <div class="boton-navegacion">
                            <app-navegacion [width]="'24px'" [height]="'24px'"></app-navegacion>
                        </div>
                        <div class="logo-custom-navbar">
                            <img alt="logo" src="../../../../assets/images/logos/miMovilidadFondoBlanco.svg" />
                        </div>
                        <div class="boton-notificacion">
                            <!--button class="cuerpo_texto_resaltado btn-idioma" color="primary" mat-button style="min-width: 0 !important;">
                                <span>Es</span>
                            </button-->
                            <app-btn-idioma></app-btn-idioma>
                        </div>
                        <!--div class="example-icon">
                            <button mat-icon-button (click)="drawer.toggle()">
                                <mat-icon>menu</mat-icon>
                            </button>
                        </div-->
                        <div class="example-icon">
                            <button aria-label="haz clic para abrir el menú" name="menu" mat-icon-button
                                (click)="drawer.toggle()">
                                <!--mat-icon style="font-size: 10px;" [matBadge]="numeroNotificacion >= 100? '+99' : numeroNotificacion" matBadgeOverlap="false" matBadgeSize="medium" matBadgeColor="accent" [matBadgeHidden]="hidden" name="bell">menu</mat-icon-->
                                <app-icon-menu class="icon-btn-menu-movil-size"
                                    [icon]="'assets/icons/Menú mobile_icono.svg'"></app-icon-menu>
                            </button>
                        </div>
                    </div>
                    <app-navbar [isHome]="false" [style]="sytleCustomNavbar"></app-navbar>
                    <div class="pages-custom">
                        <app-card-header [proceso]="false"
                            [imgLink]="'assets/images/3d/Elemento 3D_Perfil funcionario.png'"
                            [title]="'¡'+('home.saludo'| transloco)+' '+minString(usuario)+'!'"
                            [text]="'home.cardTextFuncionario'| transloco"></app-card-header>

                        <div style="margin-top: 20px; margin-bottom: 10px;">
                            <app-slider-date-custom [icono]="'assets/icons/Citas_icono_home.svg'"
                                [title]="'home.rango-fechas' | transloco" [proceso]="!isGrafica"
                                [fechaI]="range.controls['start'].value" [fechaF]="range.controls['end'].value"
                                (messageEvent)="drawer2.toggle()"></app-slider-date-custom>
                        </div>

                        <app-group-button-tablaro-home (messageEvent)="guardarLocalStorageFecha()"
                            [proceso]="!isGrafica" [listButton]="listButton"></app-group-button-tablaro-home>

                        <div class="group-graficas-home">
                            <div class="group-graficas-home_uno">
                                <div>
                                    <h2 class="title-home-fun subtitulo">{{'home.demanda-tramites' | transloco}}</h2>
                                </div>
                                <div class="group-graficas-home_uno_card">
                                    <mat-card [class]="'card-custom-normal'">
                                        <mat-card-content style="min-height: 200px;">
                                            <div *ngIf="!isGrafica" class="cargando-filtro"
                                                style="border-radius: 30px;">
                                                <div class="cargando-filtro_spener">
                                                    <mat-spinner color="primary" diameter="30"></mat-spinner>
                                                </div>
                                            </div>
                                            <div *ngIf="!(graficaTop5.length === 0)">
                                                <app-graficar *ngIf="isGrafica" [showDataLabel]="true"
                                                    [showGridLines]="false" [xAxis]="false" [view]="[width,height]"
                                                    [colorScheme]="colorScheme" [legend]="false" [multi]="graficaTop5"
                                                    [typeGrafica]="'barra-hor'"></app-graficar>
                                            </div>
                                            <div *ngIf="graficaTop5.length === 0 && isGrafica">
                                                <app-mensaje-grafica [icon]="iconSinRistro"
                                                    [mensaje]="sinRegistro"></app-mensaje-grafica>
                                            </div>
                                            <div style="margin-top: 10px;">
                                                <button (click)="direcionarReporte()"
                                                    class="button-miM-large btn-home-ver_m" mat-stroked-button
                                                    color="primary">
                                                    <span class="texto_boton">{{'home.ver-mas' | transloco}}</span>
                                                </button>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="group-graficas-home_dos">
                                <div>
                                    <h2 class="title-home-fun subtitulo">{{'home.usuarios-activos' | transloco}}</h2>
                                </div>
                                <div class="group-graficas-home_dos_card">
                                    <mat-card [class]="'card-custom-normal'">
                                        <mat-card-content style="min-height: 200px;">
                                            <div *ngIf="!isGrafica" class="cargando-filtro"
                                                style="border-radius: 30px;">
                                                <div class="cargando-filtro_spener">
                                                    <mat-spinner color="primary" diameter="30"></mat-spinner>
                                                </div>
                                            </div>
                                            <div *ngIf="!(usuariosPorMes.length === 0)">
                                                <app-graficar *ngIf="isGrafica" [colorScheme]="colorScheme2"
                                                    [legend]="false" [multi]="usuariosPorMes"
                                                    [typeGrafica]="'barra-ver'"></app-graficar>
                                            </div>
                                            <div *ngIf="usuariosPorMes.length === 0 && isGrafica">
                                                <app-mensaje-grafica [icon]="iconSinRistro"
                                                    [mensaje]="sinRegistro"></app-mensaje-grafica>
                                            </div>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </mat-drawer-content>
</mat-drawer-container>