@import "../../../assets/sass/styles.scss";

#titleMovil {
    display: none; 
    @include respond(phone) {
        display: block;
    }    
}

#titleEscritorio {
    @include respond(phone) {
        display: none;
    }
}

.card-custom-header {
    display: flex;
    width: 100%;

    @include respond(phone) {
        flex-direction: column;
    }

    &__image-container {
        flex: auto;
        align-self: center;
        order: 2;

        @include respond(phone) {
            order: 1;
            justify-items: center;
            
        }
    }

    &__image {
        width: 100%;

        @include respond(phone) {
            display: flex;
            img {
                width: 40%;
            }
            h1 {
                width: 40%;
                align-self: end;
            }
        }
    }

    &__text {
        
        flex: 0 0 70%;

        @include respond(phone) {
            flex: 1;
            order: 2;

            &>img {
                width: 80%;
            }
        }
    }
    &__title {}
}

.card-header{
    border-radius: $radiusCardCuston !important;
    box-shadow: none !important;
    color: $colorPrimario1;
    min-height: 100px;   
}




