<!--mat-grid-list [cols]="breakpoint" rowHeight="10rem" (window:resize)="onResize()">
    <mat-grid-tile *ngFor="let index of listButton">
        <app-card-button-tablaro-home style="width: 95%; height: 100%;" (messageEvent)="clickLink()" [proceso]="proceso" [listButton]="index"></app-card-button-tablaro-home>
    </mat-grid-tile>
</mat-grid-list-->

<div style="display: flex; flex-flow: wrap;">
    <div *ngFor="let index of listButton; let i = index" [style]="window.innerWidth >= 730? (i+1) === listButton.length? 'width: 23.5%; margin: 1% 0% 1% 0%;' : 'width: 23.5%; margin: 1% 2% 1% 0%;' : (i+1) % 2 === 0 ? 'width: 49%; margin: 1% 0% 1% 0%;':'width: 49%; margin: 1% 2% 1% 0%;' ">
        <app-card-button-tablaro-home style="width: 100%; height: 100%;" (messageEvent)="clickLink()" [proceso]="proceso" [listButton]="index"></app-card-button-tablaro-home>
    </div>
</div>

