<table mat-table [dataSource]="dataSource" class="table-link">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation();" (change)=" $event ? seleccionUnica(row) : null; "
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="cuerpo_texto"> <strong>{{element.conductorDTO.persona.nombres}}</strong> - tarjeta de control <strong>#{{element.numeroTarjetaControl}}</strong> </td>
    </ng-container>

    <tr style="height: 0 !important;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr style="height: fit-content !important;" mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>