<mat-toolbar class="static-nav" style="background-color: #ededed !important;margin-top: 0;">

    <app-navegacion [height]="'35px'" [width]="'35px'"></app-navegacion>
    <span class="example-spacer"></span>
    <!--button class="button-miM-text cuerpo_texto_resaltado btn-idioma" color="primary" style="padding-right: 20px;"
        mat-button (click)="selectLanguage(selectLang)">
        <span>{{selectLang === 'es'?'English':'Español'}}</span>
    </button-->
    <app-btn-idioma></app-btn-idioma>
    <app-button-notificacion *ngIf="isHome && isSession" style="margin-right: 30px;"></app-button-notificacion>
    <img *ngIf="isSession" src="assets/images/3d/avatar.png" alt="avatar" style="width: 3rem; height: 3rem; border-radius: 50%;"/>
    <h2 *ngIf="isSession" style="text-transform: capitalize;" class="title-user informacion_destacada_bold">
        {{minString(usuario)}}</h2>
    <button aria-label="haz clic para acceder a un submenu" name="submenu" *ngIf="isSession" mat-button [matMenuTriggerFor]="menu"><i-feather name="chevron-down"></i-feather></button>
    <mat-menu #menu="matMenu" menu class="my-class-navbar-menu">

        <!--button mat-menu-item (click)="accionLink()"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30" height="30"
                viewBox="0 0 1200 1200" style="enable-background:new 0 0 1200 1200;" xml:space="preserve">

                <g>
                    <path class="st0" d="M608.5,601.5c-112.8,0-204.2-91.4-204.2-204.2s91.4-204.2,204.2-204.2s204.2,91.4,204.2,204.2
           S721.2,601.5,608.5,601.5z M608.5,251.4c-80.5,0-145.8,65.3-145.8,145.8s65.3,145.8,145.8,145.8s145.8-65.3,145.8-145.8
           S689,251.4,608.5,251.4z" />
                    <path class="st0"
                        d="M906.9,1009.8H310.1c-29.2,0.1-56.6-14.3-72.9-38.5c-16-22.8-19.6-52.1-9.6-78.2
           c81.2-210.4,317.7-315.1,528.1-233.8C863,700.8,947.9,785.7,989.4,893.2c10,26.2,6.4,55.7-9.6,78.8
           C963.3,995.9,936,1010.1,906.9,1009.8z M608.5,689c-144.6,0.7-274.1,89.8-326.4,224.6c-3.2,8.3-2,17.6,3.2,24.8
           c5.5,8.3,14.8,13.3,24.8,13.1h596.8c10,0.1,19.3-4.8,24.8-13.1c5.2-7.2,6.4-16.5,3.2-24.8C882.6,778.7,753.1,689.6,608.5,689z" />
                </g>
            </svg>Mi perfil</button-->
        <button aria-label="haz clic para ir a la pagina de actualizar datos" name="actualizaDato" *ngIf="isHome" mat-menu-item (click)="accionLink()">
            <div class="my-class-navbar-menu-icon">
                <app-icon-menu class="icon-menu-navbar"
                    [icon]="'assets/icons/Actualización de datos_icono.svg'"></app-icon-menu>
            </div>
            <span class="texto_submenu letter-spacing-uno">{{'navbar.actualizacion' | transloco}}</span>
        </button>
        <div class="border-nav-container"> 
            <div class="border-custom-navbar"></div>
        </div>
        <button aria-label="haz clic para cerrar sesión" name="cerrarSesion" mat-menu-item (click)="cerrarsession()">
            <div class="my-class-navbar-menu-icon">
                <app-icon-menu class="icon-menu-navbar" [icon]="'assets/icons/Cerrar sesión_icono.svg'"></app-icon-menu>
            </div>
            <span class="texto_submenu letter-spacing-uno">{{'navbar.cerrar-sesion' | transloco}}</span>
        </button>

    </mat-menu>
    <button aria-label="haz clic para iniciar sesión" name="login" (click)="iniciarsesion()" *ngIf="!isSession" style="width: max-content; min-width: 100px;" class="button-miM-large"
        mat-stroked-button color="primary">
        <p class="texto_boton">{{'navbar.iniciar-sesion' | transloco}}</p>
    </button>


</mat-toolbar>